/*-----------------------------
Footer
-----------------------------*/
.footer {
  background:#222;
  color:white;

  &__nav {
    border-bottom: 1px solid rgba(255, 255, 255, .15);
    max-width: 1440px;
    padding: 30px 8px;
    margin: 0 auto;
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;

    @media (max-width: 1024px) {
      justify-content:flex-start;
    }

    @media (max-width: 768px) {
      padding: 30px 0;
    }

    @media (max-width: 480px) {
      flex-direction:column;
    }

    &-item {
      white-space: nowrap;
      text-decoration: none;
      padding:8px 16px;
      font-weight:500;
      color:white;
      cursor: pointer;
      transition:var(--transition);
      display:inline-block;


      &:hover {
        color:var(--c-primary);
      }
    }
  }

  &__phone   {
    max-width: 1440px;
    padding: 30px 24px;
    margin: 0 auto;
    display:flex;
    justify-content:center;

    @media (max-width: 480px) {
      justify-content:flex-start;
    }

    & > a {
      font-size: 24px;
      line-height: 32px;
      color: white;
      font-weight: 700;
      white-space: nowrap;
      transition:var(--transition);
      text-decoration:none;

      &:hover {
        color:var(--c-primary);
      }
    }
  }
}