/*-----------------------------
Help section
-----------------------------*/
.help {
  width: 100%;
  background: linear-gradient(180deg, rgba(243, 244, 249, 0) 0%, #F3F4F9 100%);

  &__container {
    position:relative;
    max-width:1440px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 5%;
    grid-template-columns:  320px auto;
    align-items: center;

    @media (max-width: 1024px) {
      overflow-x: hidden;
    }
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-gap: 0;
    }
  }

  &__content {
    padding: 60px 24px;
    max-width:80%;
    display:flex;
    flex-direction:column;
    align-items:flex-start;

    @media (max-width: 1024px) {
      padding:40px 24px;
    }

    @media (max-width: 768px) {
      padding:40px 16px;
      max-width: 100%;
    }
  }

  &__title {
    display:flex;
    margin-bottom:24px;
  }

  &__text {
    line-height: 26px;
  }

  &__actions {
    margin-top:30px;
  }

  &__image {
    height:100%;
    padding-top: 40px;

    @media (max-width: 768px) {
      display: none;
    }

    & > img {
      max-width:320px;
      mix-blend-mode: multiply;
      filter: brightness(105%);
      display:block;
      width:100%;
      height:100%;
      object-fit: contain;
      object-position:bottom right;

      @media (max-width: 1280px) {
        object-fit: cover;
      }
    }
  }
}