/*-----------------------------
Requirements section
-----------------------------*/
.requirements {
  width: 100%;
  background: linear-gradient(180deg, rgba(243, 244, 249, 0) 0%, #F3F4F9 100%);

  &__container {
    position:relative;
    max-width:1440px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr auto;

    @media (max-width: 1024px) {
      overflow-x: hidden;
      display: flex;
    }
  }

  &__content {
    padding: 60px 24px;

    @media (max-width: 1024px) {
      padding:40px 24px;
    }

    @media (max-width: 768px) {
      padding:40px 16px;
    }

    p {
      margin-bottom:8px;
    }

    .heading-3 {
      margin-bottom:20px;
    }
  }

  &__title {
    display:flex;
    margin-bottom:24px;
  }

  &__params {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 1fr 1fr;
    max-width: 840px;
    margin:40px 0;

    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
      grid-gap: 40px;
      max-width: 80%;
    }
    @media (max-width: 640px) {
      max-width: 100%;
    }
  }

  &__item {

  }

  &__actions {
    margin-top:24px;
  }

  &__image {
    max-width: 640px;
    margin-top:-60px;

    @media (max-width: 1280px) {
      max-width: 540px;
    }

    @media (max-width: 1024px) {
      max-width: 640px;
      height:100%;
      position: absolute;
      bottom:0;
      right: -30%;
    }
    @media (max-width: 768px) {
      max-width: 600px;
      height:100%;
      position: absolute;
      bottom:0;
      right: -50%;
    }

    @media (max-width: 640px) {
      display: none;
    }

    & > img {
      display:block;
      width:100%;
      height:100%;
      object-fit: contain;
      object-position:bottom;
    }
  }
}