/*-----------------------------
Support section
-----------------------------*/
.support {
  width: 100%;
  background:url('../../images/flag.jpg') no-repeat center / cover;

  &__container {
    max-width:1440px;
    width: 100%;
    padding: 60px 24px;
    margin: 0 auto;
    color:white;

    @media (max-width: 1024px) {
      padding:40px 24px;
    }
    @media (max-width: 768px) {
      padding:40px 16px;
    }
  }

  &__title {
    color:white;
    display:flex;
    justify-content: space-evenly;
    margin-bottom:60px;

    @media (max-width: 1024px) {
      margin-bottom:40px;
    }
  }

  &__grid {
    display:grid;
    grid-gap:50px 30px;
    grid-template-columns: 1fr 1fr 1fr;

    @media (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
      grid-gap:30px;
    }

    @media (max-width: 640px) {
      grid-template-columns: 1fr;
      grid-gap:20px;
    }
  }

  &__item {
    display:grid;
    grid-template-columns:auto 1fr;
    grid-gap:16px;
    align-items: start;
  }

  &__icon {
    padding:14px 11px;
    background:rgba(0, 0, 0, 0.1);
    border-radius: 30px;
  }

  &__text {
    font-weight:600;
  }
}