@font-face {
    font-family: "LozungCaps";
    font-weight: 400;
    font-style: normal;
    src: local("LozungCaps"), url("../../fonts/LozungCaps-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Onest";
    font-weight: 400;
    font-style: normal;
    src: local("Onest"), url("../../fonts/Onest-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Onest";
    font-weight: 500;
    font-style: normal;
    src: local("Onest"), url("../../fonts/Onest-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Onest";
    font-weight: 600;
    font-style: normal;
    src: local("Onest"), url("../../fonts/Onest-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Onest";
    font-weight: 700;
    font-style: normal;
    src: local("Onest"), url("../../fonts/Onest-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Onest";
    font-weight: 900;
    font-style: normal;
    src: local("Onest"), url("../../fonts/Onest-Black.ttf") format("truetype");
}


